<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Suajes Nuncio - Fabricacion de Suajes y Grabados{% endblock title %}</title>
    <link rel="stylesheet" href="/css/index.css" media="all">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/5bfa0098c6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="left">
            <a href="/" class="logo">
                <img src="/img/logo-horizontal.png" alt="Logo de Suajes Nuncio" title="Suajes Nuncio" />
            </a>
        </div>
        <div class="right">
            <nav>
                <ul>
                    <li><a href="/">Servicios</a></li>
                    <li><a href="/#seccion-contacto">Contacto</a></li>
                    <li><a href="/#seccion-nosotros">Nosotros</a></li>
                </ul>
            </nav>
            <div class="redes-sociales-iconos">
                <a href="https://www.facebook.com/suajesnunciosa"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.facebook.com/suajesnunciosa"><i class="fab fa-instagram-square"></i></a>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>
