{% extends "servicio.html" %}

{% block title %}{% block service_title %}Suajes Planos{% endblock service_title %} - Suajes Nuncio{% endblock title %}

{% block service_body %}
<p>· Suaje plano de 4 puntos en pleca filo liso y
serrotado para cortar materiales como cartón
corrugado doble y sencillo, plástico y hule espuma.</p>

<p>· Suaje plano de puntos en pleca filo liso para
cortar materiales como cartón corrugado sencillo,
micro corrugado, hule espuma y tela.</p>

<p>· Suaje plano de 2 puntos en pleca filo liso, para
cortar materiales micro corrugado, caple,
sulfatado.</p>
{% endblock service_body %}

{% block gallery_images %}
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1592COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1592COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1614COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1614COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1610COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1610COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1613COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1613COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1612COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1612COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1594COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1594COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1605COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1605COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1606COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1606COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1599COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1599COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1595COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1595COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1598COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1598COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1616COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1616COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1596COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1596COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1591COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1591COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1590COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1590COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1608COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1608COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1604COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1604COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1607COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1607COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1615COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1615COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1603COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1603COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1597COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1597COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1600COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1600COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1609COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1609COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1611COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1611COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1593COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1593COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1601COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1601COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-planos/_MG_1617COPY-2.-resized.jpg'><img src='/img/galeria/suajes-planos/_MG_1617COPY-2.-resized.-thumbnail.jpg'></a>
{% endblock gallery_images %}
