{% extends "servicio.html" %}

{% block title %}{% block service_title %}Suajes Curvos{% endblock service_title %} - Suajes Nuncio{% endblock title %}

{% block service_body %}
<p>· Suaje curvo de 4 puntos para rodillo de 37.5", 50"
y 66", para cartón corrugado sencillo y doble.</p>
{% endblock service_body %}

{% block gallery_images %}
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1642COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1642COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1640COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1640COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1654COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1654COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1655COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1655COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1681COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1681COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1648COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1648COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1659COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1659COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1649COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1649COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1645COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1645COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1652COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1652COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1673COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1673COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1676COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1676COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1644COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1644COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1651COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1651COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1656COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1656COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1646COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1646COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1683COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1683COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1647COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1647COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1641COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1641COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1680COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1680COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1675COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1675COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1658COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1658COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1679COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1679COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1672COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1672COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1643COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1643COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1650COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1650COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1653COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1653COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1671COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1671COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1674COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1674COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1639COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1639COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1678COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1678COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1657COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1657COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/suajes-curvos/_MG_1677COPY-2.-resized.jpg'><img src='/img/galeria/suajes-curvos/_MG_1677COPY-2.-resized.-thumbnail.jpg'></a>
{% endblock gallery_images %}
