{% extends "servicio.html" %}

{% block title %}{% block service_title %}Venta de Materiales{% endblock service_title %} - Suajes Nuncio{% endblock title %}

{% block service_body %}
<p>· Hules - Botadores.</p>
<p>· Plecas.</p>
<p>· Maderas "66 x 90".</p>
<p>· Maderas "54 x 90", "50 x 90", "38 x 90".</p>
{% endblock service_body %}

{% block gallery_images %}
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1493COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1493COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1538COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1538COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1522COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1522COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1536COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1536COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1523COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1523COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1778COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1778COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1532COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1532COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1781COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1781COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1520COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1520COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1531COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1531COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1519COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1519COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1766COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1766COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1770COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1770COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1530COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1530COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1768COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1768COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1773COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1773COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1499COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1499COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1769COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1769COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1521COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1521COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1776COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1776COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1771COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1771COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1765COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1765COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1502COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1502COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1764COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1764COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1534COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1534COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1775COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1775COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1763COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1763COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1517COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1517COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1503COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1503COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1496COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1496COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1780COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1780COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1767COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1767COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1777COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1777COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1772COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1772COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1782COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1782COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1494COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1494COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1516COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1516COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1535COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1535COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1500COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1500COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1779COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1779COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1774COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1774COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1495COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1495COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1533COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1533COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1524COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1524COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1504COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1504COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1529COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1529COPY-2.-resized.-thumbnail.jpg'></a>
<a data-fancybox='gallery' href='/img/galeria/materiales/_MG_1498COPY-2.-resized.jpg'><img src='/img/galeria/materiales/_MG_1498COPY-2.-resized.-thumbnail.jpg'></a>
{% endblock gallery_images %}
