{% extends "layout.html" %}
{% block content %}
<main>
    <section id="seccion-servicios-graficos">
        <div class="servicios-graficos">
            <a href="/servicios/suajes-curvos.html" class="servicio-grafico">
                <img src="/img/servicios/suajes-curvos.jpg" alt="Suajes curvos" title="Suajes curvos">
                <span>Suajes Curvos</span>
            </a>
            <a href="/servicios/suajes-planos.html" class="servicio-grafico">
                <img src="/img/servicios/suajes-planos.jpg" alt="Suajes planos" title="Suajes planos">
                <span>Suajes Planos</span>
            </a>
            <a href="/servicios/grabados.html" class="servicio-grafico">
                <img src="/img/servicios/grabados.jpg" alt="Grabados" title="Grabados">
                <span>Grabados</span>
            </a>
            <a href="/servicios/venta-materiales.html" class="servicio-grafico">
                <img src="/img/servicios/venta-materiales.jpg" alt="Venta de materiales" title="Venta de materiales">
                <span>Venta de materiales</span>
            </a>
        </div>
        <div class="mas-info">
            <a href="/#seccion-contacto">Más información</a>
        </div>
    </section>
    {% include "contacto.html" %}
    <section id="seccion-nosotros">
        <div class="apartado">
            <h3>¿Quiénes somos?</h3>
            <div class="texto">
                <p>Empresa de diseño y fabricación de dados de corte Suajes
                y dados de impresión Grabados, proporcionamos servicio a la
                Industria de Cartón Corrugado, Textil y Publicitaria</p>

                <p>Nuestra experiencia de 15 años nos respaldan, en cuanto
                a compromiso de entrega y calidad en los materiales e
                insumos con los que elaboramos nuestros productos,
                brindando garantía en cada uno de ellos.</p>

                <p>Nuestro servicio ofrece el diseño, asesoría, elaboración
                de muestra del artículo y fabricación del Suaje y Grabado,
                garantizando así la satisfacción del cliente</p>
            </div>
        </div>
        <div class="apartado">
            <h3>Misión</h3>
            <div class="texto">
                <p>Nuestra misión está enfocada en otorgar a nuestros
                clientes una opción competitiva y comprometida con la
                calidad, rapidez y precio en la fabricación de Suajes y
                Grabados, apegada a la situación actual de la
                industria.</p>
            </div>
        </div>
        <div class="apartado">
            <h3>Visión</h3>
            <div class="texto">
                <p>Consolidarnos como proveedor de suajes y grabados más
                confiable en el mercado y ser la primera opción para
                nuestros clientes, buscando cada día la mejora continua y
                excelencia en cada proceso, siendo óptimos en nuestra
                operación, servicio y rentabilidad.</p>
            </div>
        </div>
    </section>
</main>
<script>
    let seccion = document.getElementById("seccion-servicios-graficos");
    let header = document.getElementsByTagName("header")[0];
    seccion.style.minHeight = (window.innerHeight - header.clientHeight) + "px";
</script>
{% endblock content %}
